[workspace]
members = ['ort-sys']

[package]
name = "ort"
description = "A Rust wrapper for ONNX Runtime 1.15 - Optimize and Accelerate Machine Learning Inferencing"
version = "2.0.0"
edition = "2021"
rust-version = "1.70"
license = "MIT OR Apache-2.0"
repository = "https://github.com/pykeio/ort"
readme = "README.md"
keywords = [ "machine-learning", "ai", "ml" ]
categories = [ "algorithms", "mathematics", "science", "science" ]
authors = [
	"pyke.io <contact@pyke.io>",
	"Nicolas Bigaouette <nbigaouette@gmail.com>"
]
include = [ "src/", "examples/", "tests/", "toolchains/", "LICENSE", "README.md" ]

[profile.release]
opt-level = 3
lto = true
strip = true
codegen-units = 1

[package.metadata.docs.rs]
features = [ "half", "fetch-models", "copy-dylibs" ]

[[example]]
name = "gpt"
required-features = ["fetch-models"]

[features]
default = [ "half", "download-binaries", "copy-dylibs" ]

profiling = [ "widestring" ]

fetch-models = [ "ureq" ]
download-binaries = [ "ort-sys/download-binaries" ]
load-dynamic = [ "libloading", "ort-sys/load-dynamic" ]
copy-dylibs = [ "ort-sys/copy-dylibs" ]

minimal-build = [ "ort-sys/minimal-build" ]
experimental = []
mimalloc = []
compile-static = [ "ort-sys/compile-static" ]

cuda = [ "ort-sys/cuda" ]
tensorrt = [ "ort-sys/tensorrt" ]
openvino = []
onednn = []
directml = []
nnapi = []
coreml = []
xnnpack = []
rocm = [ "ort-sys/rocm" ]
acl = []
armnn = []
tvm = []
migraphx = []
rknpu = []
vitis = []
cann = []
qnn = []

[dependencies]
ndarray = "0.15"
thiserror = "1.0"
ort-sys = { path = "ort-sys" }
libloading = { version = "0.8", optional = true }
smallvec = "1.11"

ureq = { version = "2.1", optional = true, default-features = false, features = [ "tls" ] }
once_cell = "1.18"
tracing = "0.1"
half = { version = "2.1", optional = true }

[target.'cfg(unix)'.dependencies]
libc = "0.2"

[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3", features = [ "std", "libloaderapi" ] }
widestring = { version = "1.0", optional = true }

[dev-dependencies]
anyhow = "1.0"
ureq = "2.1"
image = "0.24"
show-image = { version = "0.13", features = [ "image", "raqote" ] }
raqote = { version = "0.8", default-features = false }
test-log = { version = "0.2", default-features = false, features = [ "trace" ] }
tracing-subscriber = { version = "0.3", default-features = false, features = [ "env-filter", "fmt" ] }
tokenizers = { version = ">=0.13.4", default-features = false, features = [ "onig" ] }
rand = "0.8"
