@font-face {
	font-family: 'TASA Orbiter';
	src: url("https://cdn.pyke.io/0/pyke:identity/fonts@0.0.0/tasa-orbiter.woff2") format("woff");
}
@font-face {
	font-family: 'TASA Explorer';
	src: url("https://cdn.pyke.io/0/pyke:identity/fonts@0.0.0/tasa-explorer.woff2") format("woff");
}
@font-face {
	font-family: 'Monaspace Neon';
	src: url("https://cdn.pyke.io/0/pyke:identity/fonts@0.0.0/monaspace-neon.woff2") format("woff");
}

html {
	--nextra-primary-hue: 20deg !important;
	--nextra-primary-saturation: 100% !important;

	--x-default-mono-font-family: 'Monaspace Neon';
}

.radix-themes {
	--default-font-family: 'TASA Orbiter';
	--code-font-family: 'Monaspace Neon';
}

h1, h2, h3 {
	font-family: 'TASA Explorer' !important;
	font-weight: 800;
}

a[href="https://opencollective.com/pyke-osai"] {
	background: linear-gradient(90deg, #45a9fc 0%, #1dfdc8 50%, #54f150 100%);
	border-radius: 12px;
	padding: 0.5rem;
	font-weight: 650;
	color: #fff !important;
}

.nextra-sidebar-footer {
	background-color: transparent;
}

.dark a[href="https://opencollective.com/pyke-osai"] {
	color: #000 !important;
}

.sidebar-icon {
	display: inline;
	width: 18px;
	height: 18px;
	margin-top: 1px;
	margin-right: 4px;
}

.sidebar-icon-small {
	display: inline;
	width: 14px;
	height: 14px;
	margin-top: -4px;
	margin-right: 2px !important;
	color: var(--x-color-primary-500);
}
