@font-face {
	font-family: 'TASA Orbiter';
	src: url("https://parcel.pyke.io/v2/cdn/3rdparty/tasa-orbiter/TASAOrbiterVF.woff2") format("woff");
}

html {
	font-family: 'TASA Orbiter', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;

	--nextra-primary-hue: 20deg !important;
	--nextra-primary-saturation: 100% !important;
}

a[href="https://opencollective.com/pyke-osai"] {
	background: linear-gradient(90deg, #45a9fc 0%, #1dfdc8 50%, #54f150 100%);
	border-radius: 12px;
	padding: 0.5rem;
	font-weight: 650;
	color: #fff !important;
}

.dark a[href="https://opencollective.com/pyke-osai"] {
	color: #000 !important;
}
